<h1>投稿の一覧</h1>

<div class="row">
    <div class="col-xs-4">

        <h2>User info</h2>
        <th>イメージ</th>
            <table class="table">
                <tbody>
                    <tr></tr>
                    <tr>
                        <th>name</th>
                        <th><%= current_user.name %></th>
                    </tr>
                    <tr>
                        <th>introduction</th>
                        <th><%= current_user.introduction %></th>
                    </tr>
                </tbody>
            </table>
            <% if user_signed_in? %>
            <div class="row">
                <%= link_to "", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" %>
            </div>
            <% end %>

<% if false %>

            <h2>New post</h2>
            <%= form_for @post, url: aaa_path do |f| %>
                <div class="field row">
                    <%= f.attachment_field :image, class: "user_image" %>
                </div>
                <div class="field row">
                    <label for="title">たーーいとる</label><br>
                    <%= f.text_field :title, class: "col-xs-12 post_title", id: "post_title" %>
                </div>
                <div class="field row">
                    <label for="body">ぼでーーーーー！！！！！！</label><br>
                    <%= f.text_area :body, class: "col-xs-12 post_body", id: "post_body" %>
                </div>
                <div class="actions row">
                    <%= f.submit "Create Post", class: "btn btn-primary col-xs-12" %>
                </div>
            <% end %>

<% end %>

    </div>

    <div class="col-xs-8">
    <h2>Posts</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>UserImages</th>
                    <th>PostImage</th>
                    <th>Title</th>
                    <th>Body</th>
                    <th colspan = "6" ></th>
                </tr>
            </thead>
            <tbody>
            <% @users.each do |u| %>
                <% u.posts.each do |p| %>
                    <tr>
                        <td>
                            <%= u.name %>
                        </td>
                        <td>
                            <%= attachment_image_tag u, :image, size: "100x100", format: 'jpeg', class: "attachment post profile_image fallback" %>
                        </td>
                        <td>
                            <%= attachment_image_tag p, :image, size: "100x100", format: 'jpeg', class: "attachment post profile_image fallback" %>
                        </td>
                        <td>
                            <%= p.title %>
                        </td>
                        <td>
                            <%= p.body %>
                        </td>
                        <td>
                            <%= link_to "Show", user_posts_path(u.id), class: "#" %>
                        </td>
                    </tr>
                <% end %>
            <% end %>

            </tbody>
        </table>
    </div>

</div>


