<h1>投稿の一覧</h1>

<div class="row">
    <div class="col-xs-3">
        <%= render 'profile', user: current_user %>

<% if false %>

            <h2>New post</h2>
            <%= form_for @post, url: aaa_path do |f| %>
                <div class="field row">
                    <%= f.attachment_field :image, class: "user_image" %>
                </div>
                <div class="field row">
                    <label for="title">たーーいとる</label><br>
                    <%= f.text_field :title, class: "col-xs-12 post_title", id: "post_title" %>
                </div>
                <div class="field row">
                    <label for="body">ぼでーーーーー！！！！！！</label><br>
                    <%= f.text_area :body, class: "col-xs-12 post_body", id: "post_body" %>
                </div>
                <div class="actions row">
                    <%= f.submit "Create Post", class: "btn btn-primary col-xs-12" %>
                </div>
            <% end %>

<% end %>

    </div>

    <div class="col-xs-9">
    <h2>Posts</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>UserImages</th>
                    <th>PostImage</th>
                    <th>Title</th>
                    <th>Body</th>
                    <th colspan = "6" ></th>
                </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
                <% user.posts.each do |post| %>
                    <% post.trainings.each do |training| %>
                        <% training.loads.each do |load| %>
                            <tr>
                                <td>
                                    <%= user.name %>
                                </td>
                                <td>
                                    <%= attachment_image_tag user, :image, size: "100x100", format: 'jpeg', class: "attachment post profile_image fallback" %>
                                </td>
                                <td>
                                    <%= attachment_image_tag post, :image, size: "100x100", format: 'jpeg', class: "attachment post profile_image fallback" %>
                                </td>
                                <td>
                                    <%= post.memo %>
                                </td>
                                <td>
                                    <%= Menu.find(training.menu_id).name %>
                                </td>
                                <td>
                                    <%= load.load %>
                                </td>
                                <td>
                                    <%= link_to "Edit", edit_user_post_path(@user.id, post.id), class: "#" %>
                                </td>
                                <td>
                                    <%= link_to "delete", bbb_path(@user.id, post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>

            </tbody>
        </table>
    </div>

</div>
