<div class = "row" >
    <div><%= attachment_image_tag @user, :image, size: "50x50", format: 'jpeg', class: "attachment user profile_image fallback", fallback: "no_image.jpg" %></div>
    <div>名前</div>
    <div><%= @user.name %></div>
    <br>
    <div>自己紹介</div>
    <%= @user.introduction %>
    <br>
    <div>性別</div>
    <%= @user.gender %>
    <br>
    <div>身長</div>
    <%= @user.height %>
    <br>
    <div>体重</div>
    <%= @user.weight %>
    <br>
    <div>投稿数</div>
    <%= @post %>
    <br>
    <div><%= render 'stats_follow' %></div>
    <div><%= render 'stats_follower' %></div>
    <div><%= link_to "withdrawal", user_path(@user.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></div>
</div>





<% if false %>
<% @posts.each do |post| %>
    <div>
    <%= attachment_image_tag @user, :image, :fill, 50, 50, format: 'jpeg', class: "attachment user profile_image fallback", fallback: "no_image.jpg" %>
    <%= link_to post.book_title, book_path(post.id), class: "book_#{post.id}" %>
    <%= post.book_opinion %>
    </div>
<% end %>
<% end%>