<h1>ポストのエディットだよ</h1>

<%= form_for(@post, url: user_posts_path, html: {method: 'POST'}) do |f| %>
    <div class="field row">
        <%= f.attachment_field :image, class: "user_image" %>
    </div>
    <div class="field row">
        <label for="title">たーーいとる</label><br>
        <%= f.text_field :title, class: "col-xs-12 post_title", id: "post_title" %>
    </div>
    <div class="field row">
        <label for="body">ぼでーーーーー！！！！！！</label><br>
        <%= f.text_area :body, class: "col-xs-12 post_body", id: "post_body" %>
    </div>
    <div class="actions row">
        <%= f.submit "Create Post", class: "btn btn-primary col-xs-12" %>
    </div>
<% end %>