<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.select :menu_id, Menu.all.map {|o| [o.name, o.id]} ,class: 'form-control'%><br></div>
    <%= link_to_remove_association "remove training", f %>
  </div>

  <div class="items">
    <%= f.fields_for :menus do |menu| %>
      <%= render 'projects/menu_fields', f: menu %>
    <%end%>
    <div class="links">
      <%= link_to_add_association "add menu", f, :menus %>
    </div>
  </div>
</div>
